[package]
name = "cutler"
version = "0.3.3"
edition = "2024"
description = "Powerful, declarative settings management for your Mac, with speed."
license = "MIT"

[dependencies]
toml = "0.8"
clap = { version = "4", features = ["derive"] }
lazy_static = "1.5.0"
clap_complete = "4.5.47"

[dev-dependencies]
tempfile = "3.19.1"
