[package]
name = "cutler"
version = "0.1.3"
edition = "2021"
description = "Declarative macOS settings management at your fingertips, with speed."
license = "MIT"

[dependencies]
clap = { version = "4", features = ["derive"] }
dirs = "6"
toml = "0.8"
