[package]
name = "cutler"
version = "0.1.8"
edition = "2021"
description = "Declarative macOS settings management at your fingertips, with speed."
license = "MIT"

[dependencies]
toml = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
clap = { version = "4", features = ["derive"] }
