[package]
name = "cutler"
version = "0.1.0"
edition = "2021"
description = "Declarative macOS defaults management at your fingertips, with speed."
license = "MIT"

[dependencies]
clap = { version = "4", features = ["derive"] }
dirs = "5"
toml = "0.5"
