.machlit.hljs {
    color: #cccccc;
    background: #191816;
}

.machlit .hljs-keyword {
    color: #ff7ab2;
    font-weight: bold;
}

.machlit .hljs-property {
    color: #ffb86c;
}

.machlit .hljs-tag {
    color: #8be9fd;
}

.machlit .hljs-built_in {
    color: #50fa7b;
}

.machlit .hljs-type {
    color: #bd93f9;
}

.machlit .hljs-literal {
    color: #f1fa8c;
}

.machlit .hljs-number {
    color: #f1fa8c;
}

.machlit .hljs-operator {
    color: #ff79c6;
}

.machlit .hljs-entity {
    color: #8be9fd;
}

.machlit .hljs-url {
    color: #8be9fd;
    text-decoration: underline;
}

.machlit .hljs-punctuation {
    color: #cccccc;
}

.machlit .hljs-regexp {
    color: #ffb86c;
}

.machlit .hljs-string {
    color: #50fa7b;
}

.machlit .hljs-char.escape_ {
    color: #ffb86c;
}

.machlit .hljs-subst {
    color: #f8f8f2;
}

.machlit .hljs-symbol {
    color: #f1fa8c;
}

.machlit .hljs-variable {
    color: #bd93f9;
}

.machlit .hljs-variable.language_ {
    color: #bd93f9;
}

.machlit .hljs-variable.constant_ {
    color: #f1fa8c;
}

.machlit .hljs-title {
    color: #8be9fd;
    font-weight: bold;
}

.machlit .hljs-title.class_ {
    color: #ffb86c;
    font-weight: bold;
}

.machlit .hljs-title.function_ {
    color: #50fa7b;
    font-weight: bold;
}

.machlit .hljs-params {
    color: #cccccc;
}

.machlit .hljs-comment,
.machlit .hljs-doctag {
    color: #666666;
    font-style: italic;
}

.machlit .hljs-meta {
    color: #ff79c6;
}

.machlit .hljs-section {
    color: #8be9fd;
    font-weight: bold;
}

.machlit .hljs-name {
    color: #8be9fd;
}

.machlit .hljs-attr {
    color: #f1fa8c;
}

.machlit .hljs-attribute {
    color: #f1fa8c;
}

.machlit .hljs-bullet {
    color: #ffb86c;
}

.machlit .hljs-code {
    color: #50fa7b;
}

.machlit .hljs-emphasis {
    color: #ffb86c;
    font-style: italic;
}

.machlit .hljs-strong {
    color: #ff79c6;
    font-weight: bold;
}

.machlit .hljs-formula {
    color: #bd93f9;
}

.machlit .hljs-link {
    color: #8be9fd;
    font-style: italic;
    text-decoration: underline;
}

.machlit .hljs-quote {
    color: #666666;
    font-style: italic;
}

.machlit .hljs-selector-tag {
    color: #ff7ab2;
}

.machlit .hljs-selector-id {
    color: #bd93f9;
}

.machlit .hljs-selector-class {
    color: #8be9fd;
}

.machlit .hljs-selector-attr {
    color: #f1fa8c;
}

.machlit .hljs-selector-pseudo {
    color: #ffb86c;
}

.machlit .hljs-template-tag {
    color: #ff79c6;
}

.machlit .hljs-template-variable {
    color: #bd93f9;
}

.machlit .hljs-addition {
    color: #50fa7b;
    background: rgba(80, 250, 123, 0.1);
}

.machlit .hljs-deletion {
    color: #ff5555;
    background: rgba(255, 85, 85, 0.1);
}

.machlit :is(h1, h2, h3, h4, h5, h6) a code {
    color: #cccccc;
}

.machlit a code {
    color: #bbbbbb;
}

.machlit code {
    color: #eeeeee;
    background: #191816;
    border-radius: 0.7rem;
}

.machlit blockquote blockquote {
    border-top: 0.1em solid #bbbbbb;
    border-bottom: 0.1em solid #bbbbbb;
}

.machlit hr {
    border-color: #bbbbbb;
    border-style: solid;
}

.machlit del {
    color: #666666;
}

.machlit .ace_gutter {
    color: #bbbbbb;
    background: #191816;
}

.machlit .ace_gutter-active-line.ace_gutter-cell {
    color: #cccccc;
    background: #191816;
}

.machlit .tooltiptext {
    background: #191816;
    color: #cccccc;
}

.machlit {
    --bg: #22211f;
    --fg: #cccccc;
    --sidebar-bg: #191816;
    --sidebar-fg: #cccccc;
    --sidebar-non-existant: #666666;
    --sidebar-active: #bbbbbb;
    --sidebar-spacer: #666666;
    --scrollbar: #666666;
    --icons: #666666;
    --icons-hover: #bbbbbb;
    --links: #bbbbbb;
    --inline-code-color: #cccccc;
    --theme-popup-bg: #22211f;
    --theme-popup-border: #bbbbbb;
    --theme-hover: #2a2926;
    --quote-bg: #22211f;
    --quote-border: #bbbbbb;
    --table-border-color: #bbbbbb;
    --table-header-bg: #22211f;
    --table-alternate-bg: #22211f;
    --searchbar-border-color: #bbbbbb;
    --searchbar-bg: #22211f;
    --searchbar-fg: #cccccc;
    --searchbar-shadow-color: #bbbbbb;
    --searchresults-header-fg: #cccccc;
    --searchresults-border-color: #bbbbbb;
    --searchresults-li-bg: #22211f;
    --search-mark-bg: #bbbbbb;
    --warning-border: #bbbbbb;
    --color-scheme: dark;
    --copy-button-filter: brightness(0) saturate(0%) invert(70%) brightness(85%)
        contrast(100%);
    --copy-button-filter-hover: brightness(0) saturate(0%) invert(70%)
        brightness(100%) contrast(100%);
}
