.machlit.hljs {
    color: #c9c7c2;
    background: #121212;
}

.machlit .hljs-keyword {
    color: #b3a7c2;
    font-weight: bold;
}

.machlit .hljs-property {
    color: #b8b2a7;
}

.machlit .hljs-tag {
    color: #a7b8b2;
}

.machlit .hljs-built_in {
    color: #a7b8a7;
}

.machlit .hljs-type {
    color: #b3b2c2;
}

.machlit .hljs-literal {
    color: #c2c1a7;
}

.machlit .hljs-number {
    color: #c2c1a7;
}

.machlit .hljs-operator {
    color: #b3a7b2;
}

.machlit .hljs-entity {
    color: #a7b8b2;
}

.machlit .hljs-url {
    color: #a7b8b2;
    text-decoration: underline;
}

.machlit .hljs-punctuation {
    color: #c9c7c2;
}

.machlit .hljs-regexp {
    color: #b8b2a7;
}

.machlit .hljs-string {
    color: #a7b8a7;
}

.machlit .hljs-char.escape_ {
    color: #b8b2a7;
}

.machlit .hljs-subst {
    color: #e0dfdb;
}

.machlit .hljs-symbol {
    color: #c2c1a7;
}

.machlit .hljs-variable {
    color: #b3b2c2;
}

.machlit .hljs-variable.language_ {
    color: #b3b2c2;
}

.machlit .hljs-variable.constant_ {
    color: #c2c1a7;
}

.machlit .hljs-title {
    color: #a7b8b2;
    font-weight: bold;
}

.machlit .hljs-title.class_ {
    color: #b8b2a7;
    font-weight: bold;
}

.machlit .hljs-title.function_ {
    color: #a7b8a7;
    font-weight: bold;
}

.machlit .hljs-params {
    color: #c9c7c2;
}

.machlit .hljs-comment,
.machlit .hljs-doctag {
    color: #888682;
    font-style: italic;
}

.machlit .hljs-meta {
    color: #b3a7b2;
}

.machlit .hljs-section {
    color: #a7b8b2;
    font-weight: bold;
}

.machlit .hljs-name {
    color: #a7b8b2;
}

.machlit .hljs-attr {
    color: #c2c1a7;
}

.machlit .hljs-attribute {
    color: #c2c1a7;
}

.machlit .hljs-bullet {
    color: #b8b2a7;
}

.machlit .hljs-code {
    color: #a7b8a7;
}

.machlit .hljs-emphasis {
    color: #b8b2a7;
    font-style: italic;
}

.machlit .hljs-strong {
    color: #b3a7b2;
    font-weight: bold;
}

.machlit .hljs-formula {
    color: #b3b2c2;
}

.machlit .hljs-link {
    color: #a7b8b2;
    font-style: italic;
    text-decoration: underline;
}

.machlit .hljs-quote {
    color: #888682;
    font-style: italic;
}

.machlit .hljs-selector-tag {
    color: #b3a7c2;
}

.machlit .hljs-selector-id {
    color: #b3b2c2;
}

.machlit .hljs-selector-class {
    color: #a7b8b2;
}

.machlit .hljs-selector-attr {
    color: #c2c1a7;
}

.machlit .hljs-selector-pseudo {
    color: #b8b2a7;
}

.machlit .hljs-template-tag {
    color: #b3a7b2;
}

.machlit .hljs-template-variable {
    color: #b3b2c2;
}

.machlit .hljs-addition {
    color: #a7b8a7;
    background: rgba(167, 184, 167, 0.08);
}

.machlit .hljs-deletion {
    color: #c2a7a7;
    background: rgba(194, 167, 167, 0.08);
}

.machlit :is(h1, h2, h3, h4, h5, h6) a code {
    color: #c9c7c2;
}

.machlit a code {
    color: #b8b8b8;
}

.machlit code {
    color: #e6e5e2;
    background: #191919;
    border-radius: 0.7rem;
}

.machlit blockquote blockquote {
    border-top: 0.1em solid #b8b8b8;
    border-bottom: 0.1em solid #b8b8b8;
}

.machlit a {
    text-decoration: underline;
}

.machlit hr {
    border-color: #b8b8b8;
    border-style: solid;
}

.machlit del {
    color: #888682;
}

.machlit .ace_gutter {
    color: #b8b8b8;
    background: #23221f;
}

.machlit .ace_gutter-active-line.ace_gutter-cell {
    color: #c9c7c2;
    background: #23221f;
}

.machlit .tooltiptext {
    background: #23221f;
    color: #c9c7c2;
}

.machlit {
    --bg: #222222;
    --fg: #c9c7c2;
    --sidebar-bg: #121212;
    --sidebar-fg: #c9c7c2;
    --sidebar-non-existant: #888682;
    --sidebar-active: #b8b8b8;
    --sidebar-spacer: #888682;
    --scrollbar: #888682;
    --icons: #888682;
    --icons-hover: #b8b8b8;
    --links: #b8b8b8;
    --inline-code-color: #c9c7c2;
    --theme-popup-bg: #23221f;
    --theme-popup-border: #b8b8b8;
    --theme-hover: #2c2b28;
    --quote-bg: #23221f;
    --quote-border: #b8b8b8;
    --table-border-color: #b8b8b8;
    --table-header-bg: #23221f;
    --table-alternate-bg: #23221f;
    --searchbar-border-color: #b8b8b8;
    --searchbar-bg: #23221f;
    --searchbar-fg: #c9c7c2;
    --searchbar-shadow-color: #b8b8b8;
    --searchresults-header-fg: #c9c7c2;
    --searchresults-border-color: #b8b8b8;
    --searchresults-li-bg: #23221f;
    --search-mark-bg: #b8b8b8;
    --warning-border: #b8b8b8;
    --color-scheme: dark;
    --copy-button-filter: brightness(0) saturate(0%) invert(70%) brightness(85%)
        contrast(100%);
    --copy-button-filter-hover: brightness(0) saturate(0%) invert(70%)
        brightness(100%) contrast(100%);
}
