name: Release Builds

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-arm64-publish:
    runs-on: macos-latest

    env:
      FILE_NAME: cutler-${{ github.event.release.name }}-darwin-arm64.zip
      ARTIFACT_NAME: cutler-${{ github.event.release.name }}-darwin-arm64

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cache Cargo registry and build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Build release artifact
        run: cargo build --release --verbose --locked

      - name: Package release
        run: |
          mkdir -p release/bin release/man/man1
          cp target/release/cutler release/bin/
          cp man/man1/cutler.1 release/man/man1/
          cp LICENSE release/
          cp README.md release/
          cd release && zip -r ../${{ env.FILE_NAME }} bin man README.md LICENSE && cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.FILE_NAME }}
          compression-level: 9
          if-no-files-found: error
          retention-days: 90

      - name: Prepare Crates.io README
        run: sed -i '' '/^>/d' README.md

      - name: Publish to crates.io
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: cargo publish --token $CRATES_TOKEN --allow-dirty

  build-x86_64:
    runs-on: macos-13

    env:
      FILE_NAME: cutler-${{ github.event.release.name }}-darwin-x86_64.zip
      ARTIFACT_NAME: cutler-${{ github.event.release.name }}-darwin-x86_64

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cache Cargo registry and build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Build release artifact
        run: cargo build --release --verbose --locked

      - name: Package release
        run: |
          mkdir -p release/bin release/man/man1
          cp target/release/cutler release/bin/
          cp man/man1/cutler.1 release/man/man1/
          cp LICENSE release/
          cp README.md release/
          cd release && zip -r ../${{ env.FILE_NAME }} bin man README.md LICENSE && cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: ${{ env.FILE_NAME }}
          compression-level: 9
          if-no-files-found: error
          retention-days: 90
