name: Release Builds

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    runs-on: macos-14

    env:
      FILE_NAME: target/release/cutler-${{ github.event.release.name }}-darwin-arm64.zip
      CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}

    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          cache: false

      - name: Release
        run: |
          mise run release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.FILE_NAME }}
          retention-days: 90

      - name: Upload binary to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.FILE_NAME }}
          tag: ${{ github.ref }}
          overwrite: true
