name: Rust Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: "tests"
  cancel-in-progress: true

jobs:
  test:
    name: Test Suite
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
        with:
          cache: false

      - name: Run test suite
        run: mise run testsuite
